# SAS Compiled Content
**/*.sas7*

# Logs, ODS Output
**/*.log
**/*.lst
**/*.html
**/*.zip
**/*.tar.gz
**/*.rtf
**/*.doc*
**/*.xls*
**/*.ppt*
**/*.pdf

# Build / CI Pipeline Content
.build/
doc/build/
